# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000
unsetopt beep
bindkey -v
# End of lines configured by zsh-newuser-install
# The following lines were added by compinstall
zstyle :compinstall filename '/home/toms/.zshrc'

autoload -Uz compinit
compinit
# End of lines added by compinstall
#

bindkey "^[[H" beginning-of-line
bindkey "^[[F" end-of-line
bindkey "^[[3~" delete-char
bindkey "^[[1;5D" backward-word
bindkey "^[[1;5C" forward-word


{{ if eq .chezmoi.hostname "arch-l13" }}
eval "$(oh-my-posh init zsh --config /home/toms/.config/oh-my-posh/amro.omp.json)"
{{ end -}}
{{ if eq .chezmoi.hostname "ridi-dev-olive" }}
eval "$(oh-my-posh init zsh --config /home/toms/.config/oh-my-posh/emodipt.omp.json)"
{{ end -}}
eval "$(/usr/bin/mise activate zsh)"
source <(fzf --zsh)

export EDITOR='nvim'
export VISUAL='wezterm -e nvim'

# export NDK_HOME='/opt/android-ndk/'
# export PATH=$PATH:/opt/android-sdk/cmdline-tools/latest/bin
export PATH=$PATH:/home/toms/.turso
export PATH=$PATH:/home/toms/.local/bin/
export PATH=$PATH:/home/toms/.local/share/pnpm/
export PATH=$PATH:/home/toms/.cargo/bin/
export PATH=$PATH:/home/toms/.local/share/nvim/mason/bin/
export PATH=$PATH:/home/toms/.deno/bin
export PATH=$PATH:/var/lib/flatpak/exports/share
export PATH=$PATH:/home/toms/.local/share/flatpak/exports/share
export XDG_DATA_DIRS=/var/lib/flatpak/exports/share
export XDG_DATA_DIRS=$XDG_DATA_DIRS:/home/toms/.local/share/flatpak/exports/share
export XDG_DATA_DIRS=$XDG_DATA_DIRS:/usr/share
export KUBECONFIG=/home/toms/.kube/config
export TERMINAL=wezterm

alias source-me="source ~/.zshrc"
alias lsa="eza --long --all --icons=always --git --time-style=long-iso --octal-permissions --no-user"
alias lsas="eza --long --all --icons=always --git --time-style=long-iso --octal-permissions --no-user --total-size"
alias ls="eza"
alias cat="bat"
alias nvim-new="wezterm -e nvim"

cz-cd() {
	cd $(chezmoi source-path)
}
cz-edit() {
	cz-cd
  nvim
}
bw-session() {
  echo "BW_SESSION=${BW_SESSION}"
  if [[ -z "${BW_SESSION}" ]]; then
	  export BW_SESSION=$(bw unlock --raw)
  fi
}
cz-apply() {
  bw-session
  chezmoi apply
}

bw-agent() {
  bw-session

  eval $(ssh-agent -s -t 1h)

  bw_add_sshkeys
}

# pnpm
export PNPM_HOME="/home/toms/.local/share/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac
# pnpm end

export ANTHROPIC_API_KEY={{ (bitwarden "item" "ANTHROPIC_API_KEY").notes }}
export TAVILY_API_KEY={{ (bitwarden "item" "TAVILY_API_KEY").notes }}

{{ if eq .chezmoi.hostname "ridi-dev-olive" }}
source ~/.devserver_zshrc
{{ end -}}
