#!/bin/bash

{{ if eq .chezmoi.osRelease.id "arch" }}

{{ range .packages.arch.pacman }}
sudo pacman -S --noconfirm --needed {{ . | quote }}
{{ end -}}

{{ range .packages.arch.yay }}
yay -S --noconfirm --needed {{ . | quote }}
{{ end -}}

{{ range .packages.cargo }}
cargo install {{ . | quote }}
{{ end -}}

mise use -g node@22

if [ $SHELL != '/usr/bin/zsh' ]; then
	sudo chsh --shell /usr/bin/zsh toms
fi



{{ end -}}
