#!/bin/bash

{{ range .pacremove.yay }}
echo "==== REM ==== yay {{ . | quote }}"
yay -Runs --noconfirm {{ . | quote }}
{{ end -}}

{{ range .pacremove.pacman }}
echo "==== REM ==== yay {{ . | quote }}"
sudo pacman -Runs --noconfirm {{ . | quote }}
{{ end -}}

echo "==== OMG ==== pacman update"
sudo pacman -Syu --noconfirm --needed
echo "==== OMG ==== yay update"
yay -Syu --noconfirm --needed

if ! command -v yay &> /dev/null; then
	cd /tmp && sudo pacman -S --needed git base-devel && git clone https://aur.archlinux.org/yay.git && cd yay && makepkg -si --noconfirm
fi

{{ if eq .chezmoi.hostname "arch-l13" }}

{{ range .packages.devlocal.pacman }}
echo "==== OMG ==== pacman {{ . | quote }}"
sudo pacman -S --noconfirm --needed {{ . | quote }}
{{ end -}}

{{ range .packages.devlocal.yay }}
echo "==== OMG ==== yay {{ . | quote }}"
yay -S --noconfirm --needed {{ . | quote }}
{{ end -}}

{{ range .packages.devlocal.flathub }}
echo "==== OMG ==== flatpak {{ . | quote }}"
flatpak install --assumeyes --noninteractive --or-update flathub {{ . | quote }}
{{ end -}}

{{ range .packages.devlocal.cargo }}
echo "==== OMG ==== cargo {{ . | quote }}"
cargo install {{ . | quote }}
{{ end -}}

{{ range .packages.devlocal.pnpm }}
echo "==== OMG ==== pnpm {{ . | quote }}"
pnpm install -g {{ . | quote }}
{{ end -}}

{{ range .packages.devlocal.mise }}
echo "==== OMG ==== mise {{ . | quote }}"
mise use -g {{ . | quote }}
{{ end -}}

rustup component add rust-analyzer

if [ $SHELL != '/usr/bin/zsh' ]; then
	sudo chsh --shell /usr/bin/zsh toms
fi

if ! groups | grep -q 'video'; then
	echo "Adding video to user groups"
	sudo usermod -aG video toms
fi

if ! groups | grep -q 'docker'; then
	echo "Adding docker to user groups"
	sudo usermod -aG docker toms
fi

if ! fc-list | grep -i "FiraCode" > /dev/null; then
    echo "Installing FiraCode font..."
    sudo oh-my-posh font install firacode
else
    echo "FiraCode font is already installed"
fi

sudo systemctl is-active --quiet greetd.service || sudo systemctl enable greetd.service

greetdconf='/etc/greetd/config.toml'
if [ ! -L $greetdconf ]; then
	if [ -f $greetdconf ]; then
		sudo rm /etc/greetd/config.toml
	fi
	sudo ln -sf /home/toms/.local/share/chezmoi/etc-greetd-config.toml /etc/greetd/config.toml
fi

## batterycheck='/etc/systemd/system/battery-check.service'
## if [ ! -L $batterycheck ]; then
## 	sudo ln -sf /home/toms/.local/share/chezmoi/etc-systemd-system-battery-check.service /etc/systemd/system/battery-check.service
## 	sudo systemctl daemon-reload
## fi

## sudo systemctl is-active --quiet battery-check.service || sudo systemctl enable battery-check.service
## sudo systemctl start battery-check.service

## curl https://raw.githubusercontent.com/Lifailon/lazyjournal/main/install.sh | bash


{{ end -}}

{{ if eq .chezmoi.hostname "ridi-dev-olive" }}

{{ range .packages.devserver.pacman }}
echo "==== OMG ==== pacman {{ . | quote }}"
sudo pacman -S --noconfirm --needed {{ . | quote }}
{{ end -}}

{{ range .packages.devserver.yay }}
echo "==== OMG ==== yay {{ . | quote }}"
yay -S --noconfirm --needed {{ . | quote }}
{{ end -}}

{{ range .packages.devserver.cargo }}
echo "==== OMG ==== cargo {{ . | quote }}"
cargo install {{ . | quote }}
{{ end -}}

{{ range .packages.devserver.pnpm }}
echo "==== OMG ==== pnpm {{ . | quote }}"
pnpm install -g {{ . | quote }}
{{ end -}}

{{ range .packages.devserver.mise }}
echo "==== OMG ==== mise {{ . | quote }}"
mise use -g {{ . | quote }}
{{ end -}}

rustup component add rust-analyzer

if [ $SHELL != '/usr/bin/zsh' ]; then
	sudo chsh --shell /usr/bin/zsh toms
fi

if ! groups | grep -q 'docker'; then
	echo "Adding docker to user groups"
	sudo usermod -aG docker toms
fi

{{ end -}}
