#!/bin/bash

if ! command -v yay &> /dev/null; then
	cd /tmp && sudo pacman -S --needed git base-devel && git clone https://aur.archlinux.org/yay.git && cd yay && makepkg -si --noconfirm
fi

{{ if eq .chezmoi.osRelease.id "arch" }}

{{ range .packages.arch.pacman }}
sudo pacman -S --noconfirm --needed {{ . | quote }}
{{ end -}}

{{ range .packages.arch.yay }}
yay -S --noconfirm --needed {{ . | quote }}
{{ end -}}

{{ range .packages.cargo }}
cargo install {{ . | quote }}
{{ end -}}

mise use -g node@22

if [ $SHELL != '/usr/bin/zsh' ]; then
	sudo chsh --shell /usr/bin/zsh toms
fi

if ! groups | grep -q 'video'; then
	echo "Adding video to user groups"
	sudo usermod -aG video toms
fi

sudo systemctl is-active --quiet greetd.service || sudo systemctl enable greetd.service

greetdconf='/etc/greetd/config.toml'
if [ ! -L $greetdconf ]; then
	if [ -f $greetdconf ]; then
		sudo rm /etc/greetd/config.toml
	fi
	sudo ln -sf /home/toms/.local/share/chezmoi/etc-greetd-config.toml /etc/greetd/config.toml
fi

batterycheck='/etc/systemd/system/battery-check.service'
if [ ! -L $batterycheck ]; then
	sudo ln -sf /home/toms/.local/share/chezmoi/etc-systemd-system-battery-check.service /etc/systemd/system/battery-check.service
	sudo systemctl daemon-reload
fi

sudo systemctl is-active --quiet battery-check.service || sudo systemctl enable battery-check.service
sudo systemctl start battery-check.service

{{ end -}}
