[Desktop Entry]
Type=Application
Name=ncspot a
Comment=Cross-platform ncurses Spotify client written in Rust
TryExec=wezterm start -- ncspot
Exec=wezterm start -- ncspot
Icon=ncspot
Categories=AudioVideo;Audio;Player;ConsoleOnly
Keywords=spotify;music;player
