[Desktop Entry]
Type=Application
Name=ncspot a
Comment=Cross-platform ncurses Spotify client written in Rust
TryExec=ghostty -e ncspot
Exec=ghostty -e ncspot
Icon=ncspot
Categories=AudioVideo;Audio;Player;ConsoleOnly
Keywords=spotify;music;player
