[Desktop Entry]
Type=Application
TryExec=alacritty -e numbat
Exec=alacritty -e numbat
Icon=Alacritty
Terminal=false
Categories=Utility;

Name=Numbat
GenericName=Calculator
Comment=Numbat is a statically typed programming language for scientific computations
with first class support for physical dimensions and units.
StartupNotify=true
StartupWMClass=Numbat
