[Desktop Entry]
Name=Rambox
Exec=/opt/rambox/rambox --no-sandbox %U
Terminal=false
Type=Application
Icon=rambox
StartupWMClass=Rambox
Categories=Network;
Comment=Workspace simplifier
